<%= render partial: "shared/header" %>
<main>
  <div class="page_link_area">
    <div class="page_link_btn_container">
      <%= link_to "＜ タスク一覧", tasks_path, class:"page_link_btn" %>
    </div>
  </div>
  <h1 class="heading1">―― チャット ――</h1>
  <div class="message_area">
    <div class="speaker">AIアシスタント</div>
    <div class="message_chat_area">
      <div class="message_chat">「困っていること」や「そのうちやろう」と思っていることはありませんか？</div>
    </div>
  </div>
  <% @messages.each do |message| %>
    <% unless message.message_type == 100 %>
      <%= render partial: "message", locals: { message: message, username: current_user.username } %>
    <% end %>
  <% end %>
  <div class="chat_action_container">
    <% unless @messages == [] %>
      <div class="chat_action_btn_area">
        <%= button_to "会話をリセット", message_path(@messages[0][:id]), method: :delete, class:"delete_action_btn" %>
      </div>
    <% end %>
    <% if check_for_message_existence(@messages, 3) %>
      <div class="chat_action_btn_area">
        <%= button_to "タスクを登録する", tasks_path, class:"new_action_btn" %>
      </div>
    <% end %>
  </div>
  <div class="underline"></div>
  <div class="message__new_form_area">
    <%= form_with model:@message, url:messages_path, local: true, class:"message__new_message_form" do |f| %>
      <div class="message__new_message_form_text_area_area">
        <%= f.text_area :message, placeholder:"メッセージを入力" ,class:"message__new_message_form_text_area" %>
      </div>
      <div class="message__new_message_form_submit_area">
        <%= f.submit "送信",class:"new_action_btn"%>
      </div>
    <% end %>
  </div>
</main>
<%= render partial: "shared/footer" %>

