<%= render partial: "shared/header" %>
<main>
  <h1>メッセージ</h1>
  <h4>何か困っていることはありますか?</h4>
  <% @messages.each do |message| %>
    <% unless message.message_type == 100 %>
      <div class="message">
        <div><%= message.speaker %></div>
        <div><%= message.message %></div>
        <div>
          <%= "type:#{message.message_type}" %>
          <% if message.message_type == 1 %>
            <div>グループの提案</div>
          <% elsif message.message_type == 3 %>
            <div>タスクの提案</div>
          <% end %>
        </div>
      </div>
      <% if message.message_type == 3 %>
        <div><%= button_to "グループとタスクを登録する", action: "create", controller: "tasks" %></div>
      <% end %>
    <% end %>
  <% end %>
  <% unless @messages == [] %>
    <div><%= button_to "メッセージをリセット", message_path(@messages[0][:id]), method: :delete %></div>
  <% end %>
  <%= form_with model:@message, url:messages_path, local: true do |f| %>
    <%= f.text_area :message %>
    <%= f.submit %>
  <% end %>
</main>
<%= render partial: "shared/footer" %>