<%= render partial: "shared/header" %>
<div>tasks new画面</div>
<%= form_with model: @task, url:tasks_path do |form| %>
  <div><%= form.collection_select(:group_id, Group.where(user_id: current_user.id), :id, :group_name, {}, {}) %></div>
  <div><%= form.text_field :content %></div>
  <div><%= form.text_area :memo %></div>
  <div><%= form.collection_select(:type_id, Type.all, :id, :name, {}, {}) %></div>
  <div><%= form.submit %></div>
<% end %>