<%= render partial: "shared/header" %>
<div>groups new画面</div>
<%= form_with model: @group, url:groups_path do |form| %>
  <div><%= form.text_field :group_name %></div>
  <div><%= form.text_area :group_memo %></div>
  <div><%= form.submit %></div>
<% end %>