<%= render partial: "shared/header" %>
<main>
  <div>group show画面</div>
  <div><%= link_to "group new", new_group_path %></div>
  <div><%= link_to "task new", new_task_path %></div>
  <% if user_signed_in? %>
    <%= form_with model: @group, url:group_path, local: true do |f| %>
      <div><%= f.text_field :group_name %></div>
      <div><%= f.text_area :group_memo %></div>
      <div><%= f.submit %></div>
    <% end %>
    <%= render partial: "shared/tasks", locals: { group: @group } %>
    <%= button_to "グループを削除", group_path, method: :delete %>
  <% end %>
</main>