<%= render partial: "shared/header" %>
<main>
<% if user_signed_in? %>
  <h1 class="groups__show_index_box">
    <div class="groups__show_index_link_box">
      <%= link_to "＜", root_path, class:"groups__show_index_link" %>
    </div>
    <div class="groups__show_index_snt">全てのグループへ</div>
  </h1>
  <%= form_with model: @group, url:group_path, local: true, class:"groups__show_form" do |f| %>
    <div class="groups__show_form_container">
      <label class="groups__show_form_group_name">
        <%= f.text_field :group_name %>
      </label>
    </div>
    <div class="groups__show_form_container">
      <label class="groups__show_form_group_memo">
        <%= f.text_area :group_memo %>
      </label>
    </div>
    <div class="groups__show_form_submit">
      <%= f.submit "更新する", class:"groups__show_form_submit_btn" %>
    </div>
  <% end %>
  <div class="groups__show_group_delete">
    <%= button_to "グループを削除", group_path, method: :delete, class:"groups__show_group_delete_btn" %>
  </div>
  <h1>グループのタスク</h1>
  <% @group.tasks.each do |task| %>
    <%= render partial: "shared/task", locals: { task: task } %>
  <% end %>
<% end %>
</main>
<%= render partial: "shared/footer" %>