<%= render partial: "shared/header" %>
<main>
  <div class="user_form_area">
    <div class="user_form_container">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"user_form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="user_form_field">
          <%= f.label :email, "メールアドレス", class:"user_form_label" %><br />
          <div class="form_supplement">※パスワード再設定のため、メールアドレスを入力してください。</div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"user_form_text_field" %>
        </div>

        <div class="user_form_action_area">

          <div class="action_btn_area">
            <%= f.submit "送信", class:"new_action_btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
<%= render partial: "shared/footer" %>